<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>UserLoginServlet</servlet-name>
        <servlet-class>com.pastexplorehub.controller.UserLoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserRegisterServlet</servlet-name>
        <servlet-class>com.pastexplorehub.controller.UserRegisterServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DashBoardServlet</servlet-name>
        <servlet-class>com.pastexplorehub.controller.DashBoardServlet</servlet-class>
    </servlet>
    <listener>
        <listener-class>com.pastexplorehub.utils.AppContextListener</listener-class>
    </listener>
    <servlet>
        <servlet-name>UploadProjectDetails</servlet-name>
        <servlet-class>com.pastexplorehub.controller.UploadProjectDetails</servlet-class>
        <multipart-config>
            <location>C:/temp</location>
            <!-- Make sure this directory exists -->
            <max-file-size>52428800</max-file-size>
            <!-- 50MB -->
            <max-request-size>104857600</max-request-size>
            <!-- 100MB -->
            <file-size-threshold>2097152</file-size-threshold>
            <!-- 2MB -->
        </multipart-config>
    </servlet>
    <servlet>
        <servlet-name>FatchProjectDetails</servlet-name>
        <servlet-class>com.pastexplorehub.controller.FatchProjectDetails</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetFileServlet</servlet-name>
        <servlet-class>com.pastexplorehub.controller.GetFileServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewActivityServlet</servlet-name>
        <servlet-class>com.pastexplorehub.controller.ViewActivityServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProjectApprovalServlet</servlet-name>
        <servlet-class>com.pastexplorehub.controller.ProjectApprovalServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogOut</servlet-name>
        <servlet-class>com.pastexplorehub.controller.LogOut</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UserLoginServlet</servlet-name>
        <url-pattern>/UserLoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserRegisterServlet</servlet-name>
        <url-pattern>/UserRegisterServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DashBoardServlet</servlet-name>
        <url-pattern>/DashBoardServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UploadProjectDetails</servlet-name>
        <url-pattern>/UploadProjectDetails</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FatchProjectDetails</servlet-name>
        <url-pattern>/FatchProjectDetails</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetFileServlet</servlet-name>
        <url-pattern>/GetFileServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewActivityServlet</servlet-name>
        <url-pattern>/ViewActivityServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProjectApprovalServlet</servlet-name>
        <url-pattern>/ProjectApprovalServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogOut</servlet-name>
        <url-pattern>/LogOut</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>30</session-timeout>
    </session-config>
</web-app>
